<!DOCTYPE html>
<html>
<head>
  <title>PicPin web app</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="navbar nav">
<%= render 'layouts/header' %>
</div>

<div class='container'>
	 <!--# Ensure you have flash messages in app/views/layouts/application.html.erb.-->

       <% flash.each do |name, msg| %>
       	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
       <% end %>
<%= yield %>

<div class="footer">
<p> Natasha Pristovsek <a href="http://fibiola.com/fibiola"> Find me on Github </a></p>
</footer>
</div>
</div>
</body>
</html>
